		body{margin: 0 auto;
		    background-color: rgb(0, 0, 0);
            padding: 40px;
            display: flex;
            justify-content: center;}

		h1, h2, p {font-family:Georgia, Times, serif;
                color: rgb(182, 138, 223);}
               

		ul {list-style: none;
		    border: 1px solid rgb(255, 255, 255);
            justify-content: center;
            text-align: center;
            flex-direction:row;
            padding: 10px ; 
            margin-left: auto;
            margin-right: auto; }
		
	li {color: rgb(182, 138, 223);}

   .wrapper{border: 2px solid rgb(182, 138, 223); padding-left: 40px; padding-right: 40px; text-align: center;}
